<p id="notice"><%= notice %></p>

<h1>Curiers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curiers.each do |curier| %>
      <tr>
        <td><%= link_to 'Show', curier %></td>
        <td><%= link_to 'Edit', edit_curier_path(curier) %></td>
        <td><%= link_to 'Destroy', curier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curier', new_curier_path %>
