<nav class="navbar navbar-default sidebar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">FASS<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produkty <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-bar-chart-o"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><%= link_to "Historia Produktu", products_path %></li>
            <li><%= link_to "Kategoria Produktu", categories_path %></li>
            <li><%= link_to "Nowa Kategoria", new_category_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faktury <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-edit"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><%= link_to "Zestawienie Faktur", orders_path %></li>
            <li><%= link_to "Nowa Faktura", new_order_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Magazyn<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-table"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><%= link_to "Lista", magazines_path %></li>
            <li><%= link_to "Nowy Produkt", new_magazine_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

