<div class="navbar nav_title" style="border: 0;">
  <a href="" class="site_title"><i class="fa fa-paw"></i> <span>FASS</span></a>
</div>

<div class="clearfix"></div>
<br />

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-area-chart"></i>Historia <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><%= link_to "Historia Produktu", products_path %></li>
          <li><%= link_to "Kategoria Produktu", categories_path %></li>
          <li><%= link_to "Nowa Kategoria", new_category_path %></li>
        </ul>
      </li>
      <li><a><i class="fa fa-dollar"></i>Faktury <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><%= link_to "FV Sprzedaży", orders_path %></li>
          <li><%= link_to "FV Zakupu", invoices_path %></li>
          <li><%= link_to "Nowa FV Sprzedaży", new_order_path %></li>
          <li><%= link_to "Nowa FV Zakupu", new_invoice_path %></li>
        </ul>
      </li>
      <li><a><i class="fa fa-bar-chart-o"></i>Magazyn <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><%= link_to "Lista", magazines_path %></li>
          <li><%= link_to "Nowy Produkt", new_magazine_path %></li>
        </ul>
      </li>
      <li><%= link_to earning_orders_path do %><i class="fa fa-line-chart"></i>Zestawienie <span class="fa fa-chevron-down"></span><% end %>
      </li>
    </ul>
  </div>
  <div class="menu_section">
    <h3>Ustawienia</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-gear"></i>Dane Firmy <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><%= link_to "Ustawienia", edit_admin_registration_path(current_admin) %></li>

        </ul>
      </li>
      <li><a><i class="fa fa-automobile"></i>Kurierzy<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><%= link_to "Ceny", curiers_path %></li>

        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">

</div>
<!-- /menu footer buttons -->

