<%= render '/shared/errors', obj: @invoice %>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="list-group-item active">
        <h2>Faktura
          <small> - zakupowa</small>
        </h2>
        <div class="pull-right">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div> <!-- pull-right -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= form_for(@invoice, :html => {class: "form-horizontal", role: "form"}) do |invoice| %>
          <div class="form-group">
            <div class="col-sm-2">
              <%= invoice.label :name, "Numer Faktury" %>
              <%= invoice.text_field :name, class: 'form-control', placeholder: "Numer FV" %>
            </div>
            <div class="col-sm-2">
              <fieldset>
                <div class="control-group">
                  <div class="controls">
                    <div class="col-md-11 xdisplay_inputx form-group">
                      <%= invoice.label :datatime, "Data Wystawienia" %>
                      <%= invoice.text_field :datatime, {class: 'form-control', as: :date, 'id' => "datepicker", value: Date.today.strftime("%d/%m/%Y")} %>
                      <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                      <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-7 col-md-7">
              <%= invoice.label :cat_sell, "Kategoria" %>
              <div class="input-group">
                <div id="radioBtn" class="btn-invoice">
                  <a class="btn btn-primary btn-first btn-sm notActive" data-toggle="fun" data-title="0">Faktura</a>
                  <a class="btn btn-primary btn-sm notActive" data-toggle="fun" data-title="1">Allegro</a>
                  <a class="btn btn-primary btn-sm notActive" data-toggle="fun" data-title="2">Kurier</a>
                  <a class="btn btn-primary btn-last btn-sm notActive" data-toggle="fun" data-title="3">INNE</a>
                </div>
                <%= invoice.hidden_field :cat_sell, {class: "fun", 'id' => 'fun'} %>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-list">
            <thead>
            <tr>
              <th class="col-sm-6">Nazwa Produktu</th>
              <th class="col-sm-3">Ilość</th>
              <th class="col-sm-3">Cena</th>
            </tr>
            </thead>
          </table>
          <%= render partial: 'shared/invoice_form', locals: {f: invoice, invoice: @invoice} %>
          <div id="buttons1">
            <div id="container-pos">
              <%= invoice.submit("Zapisz Fakturę", class: 'btn btn-primary add-more') %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

















