<div class="order-table">
  <table class="table table-striped table-bordered table-list">
    <tbody>
    <tr>

      <td class="col-sm-3"><%= f.number_field :quantity, class: 'form-control bfh-number' %></td>
<%= f.fields_for :magazine, @invoice.magazines.build do |f| %>
    <td class="col-sm-3"><%= f.collection_select(:id, Magazine.all, :id, :productname, {:include_blank => ""}, {class: 'form-control'}) %></td>
      <% end %>
      <td class="col-sm-2"><%= f.text_field :price, class: 'form-control' %></td>
<td class="col-sm-1 center">
  <%= f.hidden_field :_destroy %><%= link_to('Delete', class: 'remove_fields glyphicon glyphicon-trash') do %>

  <% end %></td>
    </tr>
    </tbody>
  </table>
</div>
