<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Faktury Zakupowe<small> zestawienie</small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">
      </p>
      <table id="datatable-buttons" class="table table-striped table-bordered col-sm-3">
        <thead>
        <tr>
          <th class="col-6 col-sm-3">Nazwa</th>
          <th class="col-6 col-sm-3">Numer FV</th>
          <th class="col-6 col-sm-2">Cena</th>
          <th class="col-6 col-sm-3">Data Wystawienia</th>
          <th class="col-6 col-sm-1">Akcja</th>

        </tr>
        </thead>


        <tbody>
        <% @invoices.each do |invoice| %>
            <tr data-toggle="collapse" data-target="#<%= invoice.id %>" class="accordion-toggle">

              <td>-</td>
              <td><%= invoice.name %></td>
              <td><%= invoice.total_price %>- zł</td>
              <td><%= invoice.datatime %></td>
              <td>
                <%= link_to ".", invoice_path(invoice), class: 'glyphicon glyphicon-search' %>
                <%= link_to "", invoice, method: :delete, class: 'glyphicon glyphicon-trash' %></i>
                <%= link_to "", edit_invoice_path(invoice), class: 'glyphicon glyphicon-edit' %>
              </td>
            </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>







