

<div class="order-table">
  <table class="table table-striped table-bordered table-list">
    <tbody>
    <tr>
      <%= f.fields_for :product, @order.products.build do |f| %>
          <td class="col-sm-5">
            <%= f.collection_select(:id, Product.where.not(deleted: true, parent_id: nil), :id, :productname, {'data-role' => 'name', :include_blank => ""}, { 'data-role' => 'name',  class: 'form-control'}) %></td>

      <% end %>
      <td class="col-sm-1">
        <%= f.number_field :quantity, { 'data-role' => 'quantity', class: 'form-control bfh-number'} %>
      </td>

      <td class="col-sm-1"></td>
      <td class="col-sm-1">
        <%= f.text_field :price,  { 'data-role' => 'price' ,class: 'form-control price' } %>
      </td>
      <td class="col-sm-1"></td>

      <td class="col-sm-1"></td>
      <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
      <td class="col-sm-1 center">
        <%= f.hidden_field :_destroy %>
        <%= link_to('Delete', class: 'remove_fields glyphicon glyphicon-trash') do %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>








