<div class="invoice-row invoice-item js-item col-sm-12" id="js-item-product">
  <%= f.hidden_field :_destroy %>
  <%= f.hidden_field :id %>
  <%= f.fields_for :product, @order.products.build, include_id: true do |product| %>
      <div class="invoice-col invoice-col--description form-group col-sm-6">
        <div class="phidden">
        <%= product.label :name %>
        </div>
        <%= product.text_area :name, class: "form-control", rows: 1, "data-role": "item-description" %>
      </div>
      <div class="invoice-col invoice-col--quantity form-group col-sm-1">
        <div class="phidden">
        <%= product.label :quantity %>
        </div>
        <%= product.text_field :quantity, class: "form-control", "data-role": "quantity" %>
      </div>
      <div class="invoice-col invoice-col--unit form-group col-sm-1">
        <div class="phidden">
          <%= product.label :unit %>
        </div>
        <p class="form-control-static js-net-unit">szt.</p>
        <%= product.hidden_field :unit, class: "form-control", "data-role": "unit" %>
      </div>
      <div class="invoice-col invoice-col--price-b form-group col-sm-1">
        <div class="phidden">
          <%= product.label :price %>
        </div>
        <%= product.text_field :price, class: "form-control", "data-role": "price" %>
      </div>
      <div class="invoice-col invoice-col--vat form-group col-sm-1">
        <div class="phidden">
          <%= product.label :vat_ %>
        </div>
        <p class="form-control-static js-net-vat">23%</p>
        <%= product.hidden_field :vat_, class: "form-control", "data-role": "vat_" %>
      </div>
      <div class="invoice-col invoice-col--price-n form-group col-sm-1">
        <div class="phidden">
          <%= product.label :prince_n %>
        </div>
        <p class="form-control-static js-net-prince-n"></p>
        <%= product.hidden_field :prince_n, class: "form-control", "data-role": "prince_n" %>
      </div>
      <div class="invoice-col invoice-col--value-b form-group col-sm-1">
        <div class="phidden">
          <%= product.label :value_b %>
        </div>
        <p class="form-control-static js-net-val-b">0.00</p>
        <%= product.hidden_field :value_b, class: "form-control", "data-role": "value_b" %>
      </div>
      <tr>
        <td class="col-sm-1"></td>
        <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>

      </tr>
      <%= product.hidden_field :id %>
      <%= product.hidden_field :_destroy %>
      <div class="invoice-col invoice-col--removal form-group">
        <%= link_to_remove_association f, {wrapper_class: 'js-item', class: ''} do %>
            <i class="fa fa-remove"></i>
        <% end %>
      </div>
  <% end %>
</div>
