<div class="invoice-row invoice-item js-item col-sm-12" id="js-item-product">
  <%= f.hidden_field :_destroy %>
  <%= f.hidden_field :id %>
  <%= f.fields_for :product, @order.products.build, include_id: true do |product| %>
      <div class="invoice-col invoice-col--description form-group col-sm-5">
        <div class="phidden">
        <%= product.label :name %>
        </div>
        <%= product.text_area :name, class: "form-control", rows: 1, "data-role": "item-description" %>
      </div>
      <div class="invoice-col invoice-col--quantity form-group col-sm-1">
        <div class="phidden">
        <%= product.label :quantity %>
        </div>
        <%= product.text_field :quantity, class: "form-control", "data-role": "quantity" %>
      </div>
      <div class="invoice-col invoice-col--unit form-group col-sm-1">
      </div>
      <div class="invoice-col invoice-col--price-n form-group col-sm-1">
      </div>
      <div class="invoice-col invoice-col--vat form-group col-sm-1">
      </div>
      <div class="invoice-col invoice-col--price-n form-group col-sm-1">
      </div>
      <div class="invoice-col invoice-col--price form-group col-sm-1">
        <div class="phidden">
        <%= product.label :price %>
        </div>
          <%= product.text_field :price, class: "form-control", "data-role": "price" %>
      </div>
      <tr>
        <td class="col-sm-1"></td>
        <td class="price_td"><span class="price"></span><span class="subtotal_currency"></span></td>
        <td class="col-sm-1 center">
      </tr>
      <%= product.hidden_field :id %>

      <%= product.hidden_field :_destroy %>
      <div class="invoice-col invoice-col--removal form-group col-sm-1">
        <%= link_to_remove_association f, {wrapper_class: 'js-item', class: 'glyphicon glyphicon-trash'} do %>
        <% end %>
      </div>
  <% end %>
</div>
