<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="list-group-item active">
        <h2>Magazyn<small> - lista</small></h2>
        <div class="pull-right">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div> <!-- pull-right -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">

  </p>
      <table id="datatable-buttons" class="table table-striped table-bordered">

        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ilość</th>
          <div style="display: none">Cena Zakupu</div>
          <th>Cena Zakupu</th>
          <th>Koszt Transportu</th>
          <th>Marza</th>
          <div style="display: none">Zakup + Koszt Transportu</div>
          <th>Kwota Sprzedaży</th>
          <div style="display: none">Cena Sprzedaży</div>
          <th>Allegro Koszta</th>
          <th>Zysk</th>
          <div style="display: none">Zysk</div>
          <th class="col-md-2 center"><em class="fa fa-cog"></em></th>
        </tr>
        </thead>

        <tbody>
        <% obj.each do |magazine| %>
            <tr>
              <td><%= magazine.productname %></td>
              <td><%= magazine.quantity %></td>
              <div style="display: none"><%= magazine.price %></div>
              <td><%= magazine.f %></td>
              <td><%= magazine.g((magazine.productshipment.weight),(magazine.productshipment.height)) %></td>
              <td><%= magazine.h %>%</td>
                <div style="display: none"><%= magazine.i %></div>
              <td><%= magazine.k %></td>
                  <div style="display: none"><%= magazine.j %></div>
              <td><%= magazine.m %></td>
              <td><%= magazine.n %></td>
                    <div style="display: none"><%= magazine.o %></div>
              <td align="center">
                <%= link_to(magazine_path(magazine), class: 'btn btn-dark btn-xs') do %>
                Zobacz
                <% end %>
                <%= link_to(edit_magazine_path(magazine), class: 'btn btn-primary btn-xs') do %>
                Edycja
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




