<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="list-group-item active">
        <h2>Magazyn<small> - lista</small></h2>
        <div class="pull-right">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div> <!-- pull-right -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">

  </p>
      <table id="datatable-orders" class="display table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">

        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ilość</th>
          <div style="display: none">Cena Zakupu</div>
          <th>Cena Zakupu</th>
          <th>Koszt Transportu</th>
          <th>Marza</th>
          <div style="display: none">Zakup + Koszt Transportu</div>
          <th>Kwota Sprzedaży</th>
          <div style="display: none">Cena Sprzedaży</div>
          <th>Allegro Koszta</th>
          <th>Zysk</th>
          <div style="display: none">Zysk</div>
          <th class="col-md-2 center"></th>
        </tr>
        </thead>

        <tbody>
        <% obj.each do |magazine| %>
            <tr>
              <td><%= magazine.productname %></td>
              <td><%= magazine.quantity %></td>
              <div style="display: none"><%= magazine.price %></div>
              <td><%= magazine.f %></td>
              <td><%= magazine.g((magazine.productshipment.weight),(magazine.productshipment.height)) %></td>
              <td><%= magazine.h %>%</td>
                <div style="display: none"><%= magazine.i %></div>
              <td><%= magazine.k %></td>
                  <div style="display: none"><%= magazine.j %></div>
              <td><%= magazine.m %></td>
              <td><%= magazine.n %></td>
                    <div style="display: none"><%= magazine.o %></div>
              <td align="center">
                <div class="btn-group">
                  <button type="button" class="btn btn-danger"><%= link_to "Zobacz", magazine_path(magazine), class: '' %></button>
                  <button type="button" class="fa fa-chevron-down dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to "Edycja", edit_magazine_path(magazine), class: '' %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Usuń", magazine, method: :delete, class: '' %>
                  </div>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




