<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="list-group-item active">
        <h2>Magazyn
          <small> - lista</small>
        </h2>
        <div class="pull-right">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div> <!-- pull-right -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">

      </p>
      <table id="datatable-orders" class="display table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Kod</th>
          <th>Nazwa</th>
          <th>Zakup</th>
          <th>KT</th>
          <th>Marża</th>
          <th>Zakup+KT</th>
          <th>Cena Sprzedaży</th>
          <th style="background-color: #d9ebd9">Cena Sprzedaży A</th>
          <th>Allegro Koszta</th>
          <th style="background-color: #d9ebd9">Allegro Koszta A</th>
          <th>Zysk -N</th>
          <th style="background-color: #d9ebd9">Zysk -A</th>
        </tr>
        </thead>
        <tbody>
        <% obj.each do |magazine| %>
            <tr>
              <td><%= magazine.product.code %></td>
              <td><%= link_to magazine.productname, magazine_path(magazine) %></td>
              <td><%= magazine.zakup %></td>
              <td><%= magazine.kt((magazine.productshipment.weight), (magazine.productshipment.height)) %></td>
              <td><%= magazine.marza %>%</td>
              <td><%= magazine.zakup_kt %></td>
              <td><%= magazine.cena_sell_b %></td>
              <td style="background-color: #d9ebd9"><%= magazine.last_price %></td>
              <td><%= magazine.alle_cost %></td>
              <td style="background-color: #d9ebd9"><%= magazine.alle_cost_a(magazine.last_price) %></td>
              <td><%= magazine.zysk_n %></td>
              <td><%= magazine.zysk_a(magazine.last_price) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>






