<% @orders_group.each do |month, posts| %>
    <% total_p = 0 %>
    <div class="center">
      <div class="center-block col-sm-6">
        <%= month.strftime('%m/%d/%Y') %>
      </div>
      <table class="table <%= month.strftime('%m/%d/%Y') %>">
        <thead class="thead-default">
        <tr>
          <th>Faktura</th>
          <th>Nazwa</th>
          <th>Data Sprzedaży</th>
          <th>Ilość</th>
          <th>Cena Sprzedaży</th>
          <th>Cena Zakupu</th>
        </tr>

        <%= Order.aaaa(month) %>
        <tbody class="earning">
        <% posts.each do |order| %>
            <tr>
              <td><%= order.order.name %></td>
              <td><%= order.name %></td>
              <td><%= order.created_at.strftime('%m/%d/%Y') %></td>
              <td data-role="quantity_earning"><%= order.quantity %></td>
              <td data-role="price_earning"><%= order.price %></td>
              <td data-role="price_b_earning"><%= order.price_m(order) %></td>
            </tr>
            <% total_p = total_p + ((order.price * order.quantity)- (order.price_m(order)* order.quantity)) %>
        <% end %>
        </tbody>
        <div class="col-sm-6">
          <div class="total_month col-sm-6">opłaty:</div>
          <div class="total_month col-sm-6"><%= total_p %></div>
          <div class="total_month col-sm-6">zysk:</div>
          <div class="total_month col-sm-6"><%= total_p %></div>
          <div class="total_month col-sm-6">wynik:</div>
          <div class="total_month col-sm-6"><%= total_p %></div>
        </div>
      </table>
    </div>
<% end %>



