<%= render '/shared/errors', obj: @order %>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="list-group-item active">
        <h2>Faktura
          <small> - sprzedaży</small>
        </h2>
        <div class="pull-right">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div> <!-- pull-right -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= form_for(@order, :html => {class: "form-horizontal", role: "form"}) do |order| %>
          <div class="form-group">
            <div class="col-sm-2">
              <%= order.label :name, "Numer Faktury" %>
              <%= order.text_field :name, class: 'form-control', placeholder: "Numer FV" %>
            </div>
            <div class="col-sm-2">
              <fieldset>
                <div class="control-group">
                  <div class="controls">
                    <div class="xdisplay_inputx form-group has-feedback">
                      <%= order.label :datatime, "Data Wystawienia" %>
                      <%= order.text_field :datatime, class: 'form-control has-feedback-left', id: "single_cal3", placeholder: "data", 'aria-describedby' => "inputSuccess2Status3" %>
                      <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                      <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-2">
              <label class="custom-control custom-checkbox">Paragon:
                <input type="checkbox" class="custom-control-input" value="checkedbox">
                <span class="custom-control-indicator"></span>
              </label>
            </div>
          </div>
          <div class="checkedbox">
            <div class="x_panel x_panel2">
              <div class="x_title">
                <div class="list-group-item active">
                  <h2>Adress
                    <small> - dodaj</small>
                  </h2>
                  <div class="pull-right">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                  </div> <!-- pull-right -->
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <%= order.fields_for :client do |client| %>
                    <div class="form-group">
                      <div class="col-sm-6">
                        <%= client.label :firstname, "Imię, Nazwisko (nazwa firmy)" %>
                        <%= client.text_field :firstname, class: 'form-control' %>
                      </div>
                      <div class="col-sm-6">
                        <%= client.label :lastname, "Imię, Nazwisko (nazwa firmy)" %>
                        <%= client.text_field :lastname, class: 'form-control' %>
                      </div>
                      <%= client.hidden_field :_destroy, class: 'checkedbox' %>
                    </div>
                    <%= client.fields_for :adress do |adress| %>
                        <div class="form-group col-md-6 cont-left">
                          <h2 class="center">Dane
                            <small> do faktury</small>
                          </h2>
                          <br>
                          <div class="clearfix"></div>
                          <div class="form-group">
                            <div class="col-sm-9">
                              <%= adress.label :company_street, "Ulica" %>
                              <%= adress.text_field :company_street, class: 'form-control' %>
                            </div>
                            <div class="col-sm-3">
                              <%= adress.label :company_number, "Nr" %>
                              <%= adress.text_field :company_number, class: 'form-control' %>
                            </div>
                            <div class="col-sm-3">
                              <%= adress.label :company_zip, "Kod pocztowy" %>
                              <%= adress.text_field :company_zip, class: 'form-control' %>
                            </div>
                            <div class="col-sm-9">
                              <%= adress.label :company_city, "Miejscowość" %>
                              <%= adress.text_field :company_city, class: 'form-control' %>
                            </div>
                            <div class="col-sm-12">
                              <%= adress.label :company_nip, "NIP" %>
                              <%= adress.text_field :company_nip, class: 'form-control' %>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <h2 class="center">Dane
                            <small> do wysyłki</small>
                          </h2>
                          <br>
                          <div class="blocked-div"></div>
                          <div class="clearfix"></div>
                          <div class="form-group">
                            <div class="col-sm-9">
                              <%= adress.label :street, "Ulica" %>
                              <%= adress.text_field :street, class: 'form-control' %>
                            </div>
                            <div class="col-sm-3">
                              <%= adress.label :number, "Nr" %>
                              <%= adress.text_field :number, class: 'form-control' %>
                            </div>
                            <div class="col-sm-3">
                              <%= adress.label :zip, "Kod pocztowy" %>
                              <%= adress.text_field :zip, class: 'form-control' %>
                            </div>
                            <div class="col-sm-9">
                              <%= adress.label :city, "Miejscowość" %>
                              <%= adress.text_field :city, class: 'form-control' %>
                            </div>
                            <div class="col-sm-12">
                              <%= adress.label :phone, "Telefon" %>
                              <%= adress.text_field :phone, class: 'form-control' %>
                            </div>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="x_panel x_panel2">
            <div class="x_content">
              <div class="list-group-item active">
                <h2>Pozycje na fakturze
                  <small> - dodaj</small>
                </h2>
              </div>
              <table class="table table-striped table-bordered table-list">
                <thead>
                <tr>
                  <th class="col-sm-7">Nazwa Produktu</th>
                  <th class="col-sm-2">Ilość</th>
                  <th class="col-sm-2">Cena</th>
                  <th class="col-sm-1 center"><em class="fa fa-cog"></em></th>
                </tr>
                </thead>
              </table>
              <div class="order-table">
                <table class="table table-striped table-bordered table-list">
                  <tbody>
                  <%= order.fields_for :product_orders do |f| %>
                      <tr>
                        <td class="col-sm-7"><%= f.number_field :quantity, class: 'form-control bfh-number' %></td>
                        <td class="col-sm-2"><%= f.text_field :name, class: 'form-control' %></td>
                        <td class="col-sm-2"><%= f.text_field :price, class: 'form-control' %></td>
                        <td class="col-sm-1 center"><%= f.hidden_field :_destroy %>
                          <%= link_to('Delete', class: 'remove_fields glyphicon glyphicon-trash') do %>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <%= link_to_add_association t(" "), order, :product_orders,
                                          'data-association-insertion-node' => '#aa-items-table',
                                          'data-association-insertion-method' => 'append',
                                          :partial => 'shared/item_fields',
                                          :class => 'fa fa-plus material-button-toggle' %>
            </div>
          </div>
          <%= order.submit("Aktualizuj", class: 'btn btn-primary add-more') %>

          </div>
          </div>
      <% end %>
      </div>








