<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="list-group-item active">
        <h2>Faktury
          <small>- lista</small>
        </h2>
        <div class="pull-right">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div> <!-- pull-right -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">
      </p>
      <table id="datatable-orders" class="display responsive nowrap" cellspacing="0" width="100%" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="cont-left cont-right col-6 col-sm-2">Kupujący</th>
          <th class="cont-left cont-right col-6 col-sm-2">Numer FV</th>
          <th class="cont-left cont-right col-6 col-sm-2">Cena</th>
          <th class="cont-left cont-right col-6 col-sm-2">Status</th>
          <th class="cont-left cont-right col-6 col-sm-2">Data Wystawienia</th>
          <th class="cont-left cont-right col-6 col-sm-2">Akcja</th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <tr data-toggle="collapse" data-target="#<%= order.id %>" class="accordion-toggle">
              <td class="cont-left cont-right"><%= order.client.present? ? order.client.firstname : "paragon" %></td>
              <td class="cont-left cont-right" data-sort="<%= order.name.gsub('/','') %>"><%= order.name %></td>
              <td class="cont-left cont-right"><%= order.total_price %></td>
              <td class="cont-left cont-right" data-sort="<%= order.status %>">
                    <div class="toggle-button toggle-button--aava">
                    <a class=" <%= order.status.present? ? "notActive" : "active hidden" %>" data-toggle="happy"  data-title="Y">Wysłana</a>
                    <a class=" <%= order.status.present? ? "active hidden" : "notActive" %> " data-toggle="happy" data-title="N">Nie Wysłana</a>
                        <%= link_to 'wysłane', status_order_path(order , :status => false), {method: :put , 'data-role' => true, remote: true} %>
                        <%= link_to 'nie wysłane', status_order_path(order, :status => true), {method: :put, 'data-role' => false, remote: true} %>
                    </div>
                </div>
              </td>
              <td class="cont-left cont-right"><%= order.datatime %></td>
              <td class="cont-left cont-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-danger"><%= link_to "Zobacz", order_path(order), class: '' %></button>
                  <button type="button" class="fa fa-chevron-down dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to "Edycja", edit_order_path(order), class: '' %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Drukuj", order_path(order, :pdf), class: '' %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Usuń", order, method: :delete, class: '' %>
                  </div>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
