<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><%= @order.name %>
          <small>numer faktury</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <section class="content invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12 invoice-header">
              <h1>
                <i class="fa fa-globe"></i> FASS
                <small class="pull-right">Data: <%= @order.datatime.strftime('%m/%d/%Y') %></small>
              </h1>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-3 invoice-col">
              <address>
                <strong>Sprzedawca</strong>
                <br><%= current_admin.fullname %>
                <br><%= current_admin.zip %> <%= current_admin.city %>
                <br><%= current_admin.street %> <%= current_admin.number %>
                <br><%= current_admin.nip %>
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
              <address>
                <strong>Nabywca</strong>

                <tr>
                  <% if !@order.client.blank? %>
                      <br><%= @order.client.firstname.present? ? @order.client.firstname : "" %>
                      <br><%= @order.client.adress.company_zip.present? ? (@order.client.adress.company_zip + " " + @order.client.adress.company_street) : @order.client.adress.zip.present? ? (@order.client.adress.zip + " " + @order.client.adress.street) : "" %>
                      <br><%= @order.client.adress.company_city.present? ? @order.client.adress.company_city : @order.client.adress.city.present? ? @order.client.adress.city : "" %>
                      <br><%= @order.client.adress.company_nip.present? ? @order.client.adress.company_nip : "" %>
                  <% end %>
                </tr>

              </address>
            </div>
            <div class="col-sm-3 invoice-col">
              <address>
                <strong>Odbiorca</strong>

                <tr>
                  <% if !@order.client.blank? %>
                      <br><%= @order.client.firstname.present? ? @order.client.firstname : "" %>
                      <br><%= @order.client.adress.zip.present? ? (@order.client.adress.zip + " " + @order.client.adress.street) : @order.client.adress.company_zip.present? ? (@order.client.adress.company_zip + " " + @order.client.adress.company_street) : "" %>
                      <br><%= @order.client.adress.city.present? ? @order.client.adress.city : @order.client.adress.company_city.present? ? @order.client.adress.company_city : "" %>
                      <br><%= @order.client.adress.city.present? ? " " : @order.client.adress.company_nip %>
                  <% end %>
                </tr>

              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
              <br>
              <b>Numer FV: </b> <%= @order.name %>
              <br>
              <b>Data płatności:</b> <%= @order.sale_date.strftime('%m/%d/%Y') %>
              <br>

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Produkt</th>
                  <th>Ilość</th>
                  <th>Price</th>
                  <th>Cena</th>
                </tr>
                </thead>
                <tbody>

                <% @order.product_orders.each do |order, array| %>
                    <tr>
                      <td><%= order.name %></td>
                      <td><%= order.quantity %></td>
                      <td><%= order.price %> zł</td>
                      <td><%= order.price * order.quantity %> zł</td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
              <p class="lead">Metoda Płatności:</p>

              <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Informacje dodatkowe
              </p>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
              <p class="lead"></p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <th>Cena Brutto:</th>
                    <td><%= @order.total_price %> zł</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-xs-12">
              <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
              <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Zapłacono</button>
              <%= link_to(order_path(@order, format: 'pdf')) do %>
              <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i>
                    Wygeneruj PDF
                    </button>

                  <%end%>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

