<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="list-group-item active">
        <h2>Historia Produktów<small> - lista</small></h2>
        <div class="pull-right">
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        </div> <!-- pull-right -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30"></p>
      <table id="datatable-orders" class="table display table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th class="col-sm-1">kod</th>
          <th>Nazwa Produktu</th>
          <th>Cena</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% obj.each do |product| %>
            <tr>
              <td><%= product.code %></td>
              <td><%= link_to product.name, product_path(product), class: '' %></td>
              <td><%= product.price %></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger"><%= link_to "Zobacz", product_path(product), class: '' %></button>
                  <button type="button" class="fa fa-chevron-down dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to "Edycja", edit_product_path(product), class: '' %>
                  </div>
                </div>

              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

