<!DOCTYPE html>
<html>
<head>
  <title>RoR2</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <% if current_admin %>
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <%= render partial: 'layouts/shared/leftnav' %>
          </div>
        </div>
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <%= render partial: 'layouts/shared/topnav' %>
            </nav>
          </div>
        </div>
    <% end %>
    <div class="right_col" role="main">
      <%= yield %>
    </div>
    <footer>
      <%= render partial: 'layouts/shared/footer' %>
    </footer>
  </div>
</div>

</body>

</html>

